/*
body {
    margin: 0 auto;
    max-width: 50em;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    line-height: 1.5;
    padding: 4em 1em;
}

h2 {
    margin-top: 1em;
    padding-top: 1em;
}

body {
    color: #555;
}

h1,
h2,
strong {
    color: #00cc00;
}

code,
pre-old {
    background: #eee;
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom;
}

pre-old {
    padding: 1em;
}

a {
    color: #e81c4f;
}

body {
    background-color: #000;
    color: #00FF00;
}

textarea {
    background-color: #000;
    color: #00FF66;
    border: 1px solid #00ff00;
    padding: 5px;
}

code,
pre-old {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba;
}

pre-old {
    border-left: 2px solid #69c;
}

todo-pre {
    display:inline;
}

button {
    background-color: #4CAF50; /* Green * /
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    // display: inline-block;
    font-size: 16px;
}

::placeholder {
    color: #00ff66;
}

input {
    background: #000;
    color: #00FF66;
    border: 1px solid #00ff00;
    padding: 5px;
}

/* Flex styles * /
.main-container {
    display: flex;
    justify-content: space-around;
}

.file-list {
    display: flex;
    flex-flow: column;
}

*/

/* following are from canjs blog - https://www.bitovi.com/blog/use-flexbox-to-create-a-sticky-header-and-sidebar-with-flexible-content */
html {
    height: 100%;
}

body {
    height: 100%;   
    overflow: hidden;  /* makes the body non-scrollable (we will add scrolling to the sidebar and main content containers) */
    margin: 0px;  /* removes default style */
    display: flex;  /* enables flex content for its children */
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 1em 2em 1em 2em;
    background-color: #000;
    color: #00FF00;
    
}

.column {
    height: 100%;  /* allows both columns to span the full height of the browser window */
    display: flex;
    flex-direction: column;  /* places the left and right headers above the bottom content */
}

.row {
    width: 100%;  /* allows both columns to span the full height of the browser window */
    display: flex;
    flex-direction: row;  /* places the left and right headers above the bottom content */
}

.column-item {
    padding: 1em 2em 1em 2em;
}

#left {
    flex-shrink: 0;  /* makes sure that content is not cut off in a smaller browser window */
}

.top-left {
    flex-shink: 0;
}

.top-right {
    flex-shrink: 0;
    display: inline-flex;
}

ul {
    display: inline-flex;
    list-style: none;
}

.bottom {
    flex-grow: 1;  /* ensures that the container will take up the full height of the parent container */
    overflow-y: auto;  /* adds scroll to this container */
}


a {
    color: #e81c4f;
}


img {
    margin: 0px;  /* removes default style */
    padding: 1em 2em 1em 2em;
}
